<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8" />
		<title>Postulate Chat</title>
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<link
			href="//fonts.googleapis.com/css?family=Raleway:400,300,600"
			rel="stylesheet"
			type="text/css"
		/>
		<link
			rel="stylesheet"
			href="{{ url_for('static', filename='css/normalize.css') }}"
		/>
		<link
			rel="stylesheet"
			href="{{ url_for('static', filename='css/skeleton.css') }}"
		/>
		<link
			rel="icon"
			type="image/png"
			href="{{ url_for('static', filename='assets/CodingDojoLogo.png') }}"
		/>
	</head>
	<body>
		<div style="display: flex; padding: 5vh">
			<!-- Sidebar -->
			<aside class="sidebar" style="flex: 1; overflow: auto">
				<div style="overflow-y: auto; max-height: calc(100vh - 50px)">
					<!-- TODO: Add sidebar content here -->
					<!-- <ul>
                    {% for thread in chat_threads %}
                        <li>{{ thread.name }}</li>
                    {% endfor %}
                	</ul> -->
					<ul>
						test_chat_name
					</ul>
					<ul>
						test_chat_name
					</ul>
					<ul>
						test_chat_name
					</ul>
					<ul>
						test_chat_name
					</ul>
				</div>
				<div style="position: absolute; bottom: 0">
					<!-- TODO: Add user's full name here-->
					<p>test_user_full_name</p>
				</div>
			</aside>

			<!-- Main Chat Window -->
			<main style="flex: 7; overflow: auto">
				<!-- Chat Messages -->
				<div
					id="chat-messages"
					class="chat-messages"
					style="overflow-y: scroll; max-height: calc(100vh - 50px)"
				>
					<!-- TODO: Add chat messages here -->
					<!-- {% for message in chat_messages %}
                    <p>{{ message.content }}</p>
                	{% endfor %} -->
					<p style="border: 1px solid #ccc; padding: 10px">
						test_chat_content
					</p>
					<p style="border: 1px solid #ccc; padding: 10px">
						test_chat_content
					</p>
					<p style="border: 1px solid #ccc; padding: 10px">
						test_chat_content
					</p>
					<p style="border: 1px solid #ccc; padding: 10px">
						test_chat_content
					</p>
				</div>

				<!-- Input Field -->
				<textarea id="chat-input" class="chat-input"></textarea>
			</main>
		</div>

		<script>
			// JS to make the input field grow
			const chatInput = document.getElementById('chat-input');

			chatInput.addEventListener('input', function () {
				this.style.height = 'auto';
				this.style.height = this.scrollHeight + 'px';
			});
		</script>
	</body>
</html>
