<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8" />
		<title>Postulate Chat</title>
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<link
			href="//fonts.googleapis.com/css?family=Raleway:400,300,600"
			rel="stylesheet"
			type="text/css"
		/>
		<link
			rel="stylesheet"
			href="{{ url_for('static', filename='css/normalize.css') }}"
		/>
		<link
			rel="stylesheet"
			href="{{ url_for('static', filename='css/skeleton.css') }}"
		/>
		<link
			rel="icon"
			type="image/png"
			href="{{ url_for('static', filename='assets/Phi_lc.svg') }}"
		/>
		<link
			rel="stylesheet"
			href="{{ url_for('static', filename='css/prism-atom-dark.css') }}"
		/>
	</head>
	<body>
		<div style="display: flex; padding: 5vh">
			<!-- Sidebar -->
			<aside
				class="sidebar"
				style="flex: 1; overflow: auto; height: 96vh"
			>
				<div style="overflow-y: auto; max-height: calc(100vh - 50px)">
					<div style="margin-bottom: 1rem; font-size: 2rem">
						<a href="#" id="create-new-chat">+New Chat</a>
					</div>
					<ul>
						{% set ns = namespace(counter=user_chats|length) %} {%
						for chat in user_chats|reverse %}
						<li
							style="
								display: flex;
								justify-content: space-around;
								align-items: center;
							"
						>
							<a
								href="{{ url_for('chat_interface', chat_id=chat.id) }}"
							>
								{% if chat.name %} {{ chat.name }} {% else %}
								Chat {{ ns.counter }} {% endif %}
							</a>
							<form
								id="delete-chat-form-{{ chat.id }}"
								action="/chat/delete/{{ chat.id }}"
								method="post"
								style="display: none"
							></form>
							<a
								href="#"
								class="delete-chat-button"
								data-chat-id="{{ chat.id }}"
								onclick="submitDeleteForm('{{ chat.id }}')"
								>X</a
							>
						</li>
						{% set ns.counter = ns.counter - 1 %} {% endfor %}
					</ul>
				</div>
				<div style="position: absolute; bottom: 0">
					<a href="/settings"
						>{{ user_info.first_name }} {{ user_info.last_name }}</a
					>
				</div>
			</aside>

			<!-- Main Chat Window -->
			<main
				style="
					flex: 7;
					overflow: auto;
					display: flex;
					flex-direction: column;
					position: relative;
				"
			>
				<div class="container">
					{% with messages =
					get_flashed_messages(category_filter=['message_error',
					'error', 'success', 'register_error']) %} {% if messages %}
					<ul class="flashes">
						{% for message in messages %}
						<li>{{ message }}</li>
						{% endfor %}
					</ul>
					{% endif %} {% endwith %}
				</div>

				{% if settings %}
				<!-- Settings Menu -->
				{% include 'settings_menu.html' %} {% else %}
				<!-- Chat Messages -->
				{% include 'chat_messages.html' %} {% endif %}
			</main>
		</div>

		<script src="{{ url_for('static', filename='js/common.js') }}"></script>
		<!-- Always included -->

		{% if settings %}
		<script src="{{ url_for('static', filename='js/settings_menu.js') }}"></script>
		{% else %}
		<script src="{{ url_for('static', filename='js/chat_messages.js') }}"></script>
		<script src="{{ url_for('static', filename='js/prism.js') }}"></script>
		{% endif %}
	</body>
</html>
