<!-- User Information Update Section -->
<div class="container" style="height: 90vh">
	<!-- Update Chat Name Section -->
	<section>
		<h3>Update Chat Name</h3>
		<form action="/chat/update_name" method="post">
			<label for="chat-select">Select Chat:</label>
			<select id="chat-select" name="chat_id">
				{% for chat in user_chats %}
				<option value="{{ chat.id }}">
					{% if chat.name %} {{ chat.name }} {% else %} Chat {{
					loop.index }} {% endif %}
				</option>
				{% endfor %}
			</select>

			<label for="new-chat-name">New Chat Name:</label>
			<input
				type="text"
				id="new-chat-name"
				name="new_chat_name"
				style="margin-bottom: 2rem"
			/>

			<button type="submit">Update</button>
		</form>
	</section>

	<!-- TODO: Update user model to allow user info update -->
	<!-- Update User Information Section -->
	<!-- <section>
        <h3>Update User Information</h3>
        <form action="/update_user_info" method="post">
            <label for="first-name">First Name:</label>
            <input
                type="text"
                id="first-name"
                name="first_name"
                value="{{ user_info.first_name }}"
            />

            <label for="last-name">Last Name:</label>
            <input
                type="text"
                id="last-name"
                name="last_name"
                value="{{ user_info.last_name }}"
            />

            <label for="email">Email:</label>
            <input
                type="email"
                id="email"
                name="email"
                value="{{ user_info.email }}"
                style="margin-bottom: 2rem"
            />

            <button type="submit">Update</button>
        </form>
    </section> -->

	<!-- TODO: Add update password functionality -->
	<!-- <section class="update-user-info">
        <h3>Update User Information</h3>
        <form action="/update-user-info" method="post">

            <label for="password">Current Password:</label>
            <input
                type="password"
                id="password"
                name="password"
            />

            <label for="password">New Password:</label>
            <input
                type="password"
                id="password"
                name="password"
            />

            <label for="password">Confirm new Password:</label>
            <input
                type="password"
                id="password"
                name="password"
            />

            <button type="submit">Update</button>
        </form>
    </section> -->

	<!-- Logout Button -->
	<button onclick="location.href='/logout'" style="margin-top: auto">
		Logout
	</button>
</div>
